@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}


.homePage {
    background-image: url(https://raw.githubusercontent.com/akatzav/ReactProject/main/src/image/kitchen5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
/* filter: brightness(50%);
 */    @media (min-width: 1050px) {

    }
}

.title {
    font-family: Imported;
    color: #a9927d;
    font-size: 42px;
}

.description {
    color: #a9927d;
    font-family: Imported;
    text-align: center;
        @media (max-width: 1050px) {

        }
}

.tAd{
    margin-top: 20px;
}