@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}

.navLinks {
    font-family: Imported, serif;
    color: red;
}

.nav {
    position: fixed;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}


.logoAndTitle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.homePage  {
    background-image: url(https://raw.githubusercontent.com/akatzav/ReactProject/main/src/image/kitchen.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #b42222;
}