@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.logoAndTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: flat;
    display: block;
    position: fixed;
}


.title{
    font-family: Imported;
    color: #49111C;
    opacity: 1;
    font-size: 40px;
    display: block;
}