@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}

.edit {
    margin-left: 5px;
    margin-right: 5px;
    color: dodgerblue;
    border: none;
    background-color: transparent;
}

.edit:hover{
    color:aqua;
}

.trash {
    margin-left: 5px;
    margin-right: 5px;
    color: red;
    border: none;
        background-color: transparent;
}

.trash:hover{
    color:deeppink;
}

.details {
    margin-left: 5px;
    margin-right: 5px;
    color: green;
    border: none;
        background-color: transparent;
}

.details:hover{
    color: chartreuse;
}

.image{
    border-radius: 5px;
    box-shadow: 5px 8px 3px #a9927d;
}

.name{
    font-family: Imported;
    color:#a9927d;
    font-size: 30px;
}