/* .cards {
    border: 13px solid #e01616;
    display: flex;

    width: 350px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    flex-direction: row;
} */


.edit {
    margin-left: 5px;
    margin-right: 5px;
    color: dodgerblue;
    border: none;
    background-color: #fff;
}

.trash {
    margin-left: 5px;
    margin-right: 5px;
    color: red;
    border: none;
    background-color: #fff;
}

.details {
    margin-left: 5px;
    margin-right: 5px;
    color: green;
    border: none;
    background-color: #fff;
}