.pageRes{
    object-fit: cover;
}

.cards {
    margin-top: 100px;
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px !important;
    padding: 10px;
    width: 18rem;
    height: 30rem;
    flex-wrap: wrap;
    @media (max-width: 990px){
        display: grid !important;
        grid-template-columns: auto !important;
    }

}
