@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}

.video{
    width: 500px;
    height: 300px;
}

.p2{
    font-family: Imported;
    color:#a9927d;
    text-shadow: 3px 2px #000;
}