@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}

.nav {
}


.navLinks {
    margin-top: 50px;
    font-family: Imported, serif;
    color: #a9927d;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;

}


.navLinks:hover {
    color: #F2F4F3;
}