@font-face {
    font-family: Imported;
    src: url("../../fonts/Heebo-Black.ttf")
}

.nav {
    margin-top: 10px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
@media (min-width: 1050px) {
            color:#49111c;
        }
}


.navLinks {
    margin-top: 50px;
    font-family: Imported, serif;
    color: #a9927d;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;

}


.navLinks:hover {
    color: #F2F4F3;
}